@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Comfortaa:wght@300;400&family=Herr+Von+Muellerhoff&family=Merriweather:wght@300&family=Source+Sans+Pro:wght@200&display=swap');





*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Lato', sans-serif;
    --secondary-font: 'Cabin Condensed', sans-serif;
    --main-font-color: #fff;
    --main-font-color-dark: #252525;
    --body-font-color: #515151;
    --sub-font-color:#00BFA6;
    --cursive-font: 'Comfortaa', cursive;
    --gradiente-color: -webkit-linear-gradient(left, #7db9e8 0%,#207cca 49%,#2989d8 50%,#56be79 100%);
    
}
html{
    font-family: var(--secondary-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
    
}
body{
    overflow-x: hidden;
}
section{
    padding: 3.9rem 0;
    overflow: hidden;
}
img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* header */

header{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    

    

}
.header,
.hero{
    background-image: url("images/background.png");
    background-position: left top;
    background-size: inherit;
    background-repeat: no-repeat;

}

.nav{
    height:7.2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav i{
    font-size: 1.6rem;
    font-weight: 100;
    color: #fff;
    margin: 0 20px;

}




.menu-toggle{
    color: #fff;
    font-size: 2.6rem;
    display: flex;
    margin-left: 15px;
    z-index: 1500;
    cursor: pointer;
}
.menu-toggle i{
    text-align: center;
}


.fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform.5s;

}
.nav::before{
    content:'';
    position: fixed;
    left:0;
    top:0;
    cursor:pointer;
    width: 280px;
    height: 100vh;
    background: transparent;
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity.5s;
}

.open .fa-times{
    display: block;
}
.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0)
}


.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid white;
}

.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;
    line-height: 1.7;
    font-weight: 600;
    text-shadow: 0 0 0.2em rgb(0, 0, 0, 0.4);
    padding: 0;
}










/* Hero  */

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    text-align: top center;
}
.sub-headline{
    font-size: 2.2rem;
    font-family: var(--secondary-font);
    font-weight: 100;
    /* line-height: .4;   ELIMINAR ISSO NO MEDIA QUERY */
    transform: translateY(30%);
   

    /* letter-spacing: 2px; */
    /* opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s; */


}


.headline{
    color: #fff;
    font-weight: 3.4rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    /* letter-spacing: .5rem; */
    margin-right: -.5rem;
    /* animation: scale .5s forwards; */
}

.image-hero{
    width: 90%;
    transform: translateY(15%);
}








.btn{
    display: inline-block;
    align-items: center;
    margin-top: 20px;
    margin-left: 8px;
    cursor: pointer;

    
  
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}
.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color.5s;
   
    
}















/* OUR SPECIALIZATION */
.our-speciallization{
    position:relative;
    top: 110%;
    display: flex;
    flex-wrap: wrap;
}

.titulo-sp{
    display: block;
    text-align: center;
     
}
.titulo-h2{
    font-size: 2.4rem;
    font-weight: 4rem;
    font-family: var(--cursive-font)
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;

}
.line{
    width: 100%;
    max-width:14.2rem;
    height:.40rem;
    background: var(--gradiente-color);
    position: relative;
    top: -10px;
    border-radius: 20px 20px 20px 20px;
   
}
.break::before{
    content: '';
    margin: 0 0.6rem;
    opacity: 0;
}


.line-right::before,
.line-left::before{
    /* background: var(--gradiente-color); */
    content: '';
    border-bottom: .6rem solid transparent;    
}




/* .speciallization-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
} */

.speciallization-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 700px){
    .speciallization-group{
        justify-content: center;
    }

}



.speciallization-item{
    margin-top: 55px;
    margin-bottom: 55px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    padding: 30px;
    cursor: pointer;

}

.icon-box{
    background-image: url("images/padrao.png");
    background-color: #ECEEF7;
    
    background-position: 50%;
    background-repeat: no-repeat;
    width: 165px;
    height: 165px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.icon-box i{
    font-size: 3.2rem;
   color: #784AF5;
}

.text-group{
    text-align: center;
}

.text-group h3{
    font-size: 2.2rem;
    font-family: var(--cursive-font);
    margin-bottom: 14px;
    color: #784af5; 
}
.text-group h5{
    font-size: 1.4rem;
    font-family: var(--main-font)
}

.speciallization-item:hover .icon-box i,
.speciallization-item:focus .icon-box i,
.speciallization-item:active .icon-box i
{
   color: #ECEEF7;
   transition: color 1s;
}

.speciallization-item:hover .icon-box,
.speciallization-item:focus .icon-box
{
    background-color: #784af5;
    transition: background-color 1s;
}
.speciallization-item:hover ,
.speciallization-item:focus{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 6px solid #784af5;
    border-radius: 0px 0px 10px 10px;
    transition: box-shadow 1s;
}


/* OUR DOCTORS */


.content-our-doctors{
    margin-top: 50px;
    display: flex;
    /* flex-direction: row; */
    justify-content:space-around;
    align-items: center;
    
}

.img-doctors img{
    max-width: 450px;
}



.text-doctors{
    max-width: 420px;
}
.text-doctors h3{
    text-align: center;
    font-size: 2.2rem;
    font-family: var(--cursive-font);
    margin-bottom: 14px;
    color: #784af5; 
}

.text-doctors p{
    font-size: 1.6rem;
    font-family: var(--main-font);
}
 
.doctors-line{
    width: 100%;
    max-width:8.2rem;
    height:.40rem;
    background: var(--gradiente-color);
    position: relative;
    top: -10px;
    border-radius: 20px 20px 20px 20px;
}

.doctors-line::before{
    content: '';
    border-bottom: .6rem solid transparent;   
}


/* inicio our blog */
.blog{
    margin-top: 20px;
}

.blog h1{
    font-size: 2.4rem;
    font-weight: 4rem;
    font-family: var(--cursive-font);
    text-align: center;
}

.news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}


.group-news{
    margin-top: 26px;
    width: 580px;
    box-shadow: 0px 0px 1.4em rgba(0, 0, 0, .15);
    margin-bottom: 26px;
    padding: 16px;
    border-radius: 14px;

}


.blog img{
    width: 280px;
    object-fit: cover;
    border-radius: 14px;
}

.box-news{
    display: flex;

}
.content-news{
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.content-news h3{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.content-news h5{
    font-family: var(--secondary-font);
    font-size: 1.4rem;
}

.date-news{
    display: inline-block;
    margin-top: 25px;
}
.date-news:nth-child(2){
    float: right;
    margin-right: 10px;
}









/* Inicio Subscribe */


.subscribe{
    margin-top: 40px;
    margin-bottom: 40px;
    background: #5E57D6;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    


}

.title-subscribe h2{ 
    color: white;
    font-family: var(--main-font);
}

.subscribe-input-group{
    width: 300px;
    height: 40px;
}
.input-group{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 1.3rem;

}

.input-email::placeholder{
    padding: 8px;
}


.input-group button{
    transform: translateY(-10px);
    background-color: #54C0A7;
    color: white;
    width: 125px;  
    border-radius: 12px;
    font-family: var(--main-font);
}




/* INICIO FOOTER */



.footer-content{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
}

.footer h2{
    font-size: 1.9rem;
}

.box1{
    max-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.box1 h4{
    text-align: justify;
    font-family: var(--main-font);
    font-size: 1.5rem;
    margin: 12px 0;

}
.usefull-links{
    max-width: 300px;
    padding: 20px;
    margin-right: 30px;
}

.footer ul{
    list-style-type: none
} 
.social-media li{
    float: left;
    margin: 8px;
}

.footer li i {
    font-size: 1.6rem;
}



.social-media li i{
    font-size: 2.4rem;
}


.footer a{
    text-decoration: none;
    font-size: 1.4rem;
    font-family: var(--secondary-font);
    /* color: var(--main-font-color-dark); */
}
.footer a:hover{
    text-decoration: none;
}

.usefull-links li,
.help li{
    margin-top: 4px;
    padding: 2px;
}

.separate{
    display: flex; 
    align-items: center;
    margin-top: 17px;
    text-align: center;
}
.separate i {
   font-size: 2.8rem;
    color: white;
    padding: 16px;
    background-image: url("images/image-contact.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 42px;

}
.separate h5{
    font-size: 1.4rem;
    font-family: var(--secondary-font);
    font-weight: 500;
}

.content-separate{ 
    margin-left: 12px;
}

.final{
    display: block;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    margin-bottom: 0px;
}


@media screen and (min-width: 900px){
    section{
        padding: 7.9rem;
    }
    .menu-toggle{ 
        display: none;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item{
        margin: 0 2.4rem;
        bottom: none;
    }
    .nav-item:last-child{
        margin-right: 0;
    }
    .nav-link{
        font-size: 1.3rem;
    }
    .logo{
        transform: translateX(-100%)
    }
}

.final{
    background-color: #5E57D6;
    color: white;
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 400;
}

.final a{
    color: white;
}
.final a:hover{
    text-decoration: none;
}








@media screen and (max-width: 767px){


    /* HEADER E HERO AQUI */


    .hero{
        flex-direction: column;
        
    }
    .menu-toggle{
        transform: translateX(-20%);
    }
    .logo{
        transform: translateX(-20%);
    }

    .image-hero{
        width: 55%;
        transform: translateY(45%)

    }

    .sub-headline{
        transform: initial;
    }
    .headline{
        font-weight: 1000;
    }
    .sub-headline{
        transform: initial;
    }

    .speciallization-group{
        margin-top: 12px;
    }



    /* NOSSAS ESPECIALIZAÇOES AQUI */

    .speciallization-item{
        margin-top: 0px;
    }

    /* OUR DOCTORS AQUI */

    .content-our-doctors{
        flex-direction: column-reverse;
        
    }

    .img-doctors img{
        max-width: 250px;
        margin-top: 60px;
        
    }
    .text-doctors h3{
        margin-bottom: 24px;
    }

    .text-doctors p{
        padding: 10px;
    }



    /* NOSSO BLOG AQUI */
    .title-news{
        margin-bottom: 32px;
    }
    .news{
        flex-direction: column;
        justify-content: center;
    }

    .group-news{
        max-width: 320px;
    }

    .blog img{
        width: 220px;
        align-self: center;
    }


    .box-news{
        flex-direction: column;
    }

    .content-news h3{
        font-size: 2rem;
        font-weight: 1000;
        margin-bottom: 20px;
    }

    /* SUBSCRIBE AQUI */

   .subscribe-group{
       flex-direction: column;
   }
   .title-subscribe h2{
        font-weight:800;
        margin-bottom: 20px;
   }

   /* FOOTER */
   .footer-content{
       flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
   }
   .box1, .usefull-links, .help, .contact-us{
       max-width: none;
       padding:0;
       margin-bottom: 20px;
       align-self: start;
   }



}


@media screen and (min-width: 768px) and (max-width: 1024px){

        /* HERO AQUI */


        .hero{
            flex-direction: column;
            
        }
        .image-hero{
            width: 55%;
            /* transform: translateY(45%) */
        }
        
        .footer-content{
            flex-wrap: wrap;
        }

        .footer-content .box1{
            max-width: none;
            margin: 20px;
 
            
        }
        .box1 h4{
            padding: 0px 100px;
            align-self: center;
            margin: 12px 0px;

        }



        .news{
            justify-content: center;
        }
  



 



}